.container {
  background-color: #04022b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

.status {
  display: flex;
  align-items: center;
  min-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0a081f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.track-info-container {
  display: flex;
  align-items: center;
}

.track-image {
  max-width: 165px;
  max-height: 165px;
  width: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.progress-bar {
  flex: 1;
  height: 8px;
  background-color: #333;
  border-radius: 4px;
  margin-left: 10px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
}

.progress-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #555;
  width: 100%;
  z-index: 1;
}

.progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #beb8b8;
  width: 0%;
  transition: width 0.5s ease;
  z-index: 2;
}

.artist-name {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.track-name {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

.album-name {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 0;
}

.time-display {
  display: flex;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  width: 100%;
  bottom: -6px;
  left: 0;
}

.time-display span {
  position: relative;
}

.artist-name a,
.track-name a,
.album-name a {
  color: white;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.artist-name a:hover,
.album-name a:hover,
.track-name a:hover {
  text-decoration: underline;
}

.user-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  font-size: 26px;
  color: white;
}

.credit {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 25px;
  color: white;
}

.credit a {
  color: white;
  text-decoration: underline;
}

.credit a:hover {
  text-decoration: none;
}

.space-y-0 {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #ccc;
}

body::-webkit-scrollbar {
  width: 16px;
  background-color: #333333;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888888;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 2s linear infinite;
}
