/* Universal reset for margin, padding, and box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #04022b;
  color: #fff;
  scroll-behavior: smooth;
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.status {
  display: flex;
  align-items: center;
  min-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0a081f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.track-info-container {
  display: flex;
  align-items: center;
}

.track-image {
  max-width: 165px;
  max-height: 165px;
  border-radius: 5px;
  margin-right: 20px;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.progress-bar {
  flex: 1;
  height: 8px;
  background-color: #333;
  border-radius: 4px;
  margin-left: 10px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
}

.progress-bar-background,
.progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.progress-bar-background {
  background-color: #555;
  width: 100%;
}

.progress-bar-fill {
  background-color: #beb8b8;
  width: 0%;
  transition: width 0.5s ease;
}

.artist-name,
.track-name,
.album-name,
.user-name {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.artist-name {
  font-size: 16px;
  margin-top: 20px;
}

.track-name {
  font-size: 24px;
}

.album-name {
  font-size: 16px;
  margin-top: 0;
}

.time-display {
  display: flex;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
  position: relative;
  bottom: -6px;
}

.artist-name a,
.track-name a,
.album-name a {
  color: white;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.artist-name a:hover,
.album-name a:hover,
.track-name a:hover {
  text-decoration: underline;
}

.user-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 26px;
}

.credit,
.space-y-0 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.credit {
  bottom: 50px; /* Adjusted space from the bottom */
  font-size: 25px;
}

.credit a {
  text-decoration: underline;
}

.credit a:hover {
  text-decoration: none;
}

.space-y-0 {
  bottom: 20px;
  color: #ccc;
}

.animate-float {
  animation: float 2s linear infinite;
}
